.Default {
    position: relative;
    margin-left: 70px;
}

.Text-wallets h2 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    max-width: 1304px;
    min-width: 1304px;
    height: 0px;
    top: 300px;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.Default .Bgroom {
    margin: 70px 0px 0px 740px;
}