.Menu {  
    position: absolute;
    width: 270px;
    height: 1024px;
    background: linear-gradient(#202020, #3E3D45);
    border-radius: 0px 12px 12px 0px;
}

.Menu nav {
    flex-grow: 1;
}

.Menu ul {
    list-style: none;
}

.Menu ul:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.Menu ul:active {
    transform: scale(0.95);
    box-shadow: 25px 0px 25px 0px rgba(90, 30, 201, 0.25);
}

.Menu li {
    display: flex;
    flex: 1;
    margin-top: 200px;
    padding: 0px;
}

.Menu li a {
    text-decoration: none;
    color: #ffffff;
}


.Menu .Dashboard {
    position: relative;
    display: flex;
    flex-direction: row;
}

.Menu .Dashboard h2 {
    position: relative;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
    bottom: 15px;
}

.Menu .Wallets {
    position: relative;
    display: flex;
    flex-direction: row;
}

.Menu .Wallets h2 {
    position: relative;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
    bottom: 15px;
}

.Menu img {
    width: 25px;
    height: 25px;
}