h2 {
    position: absolute;
    color: #ffffff;
}

.Menu {  
    position: absolute;
    width: 300px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: linear-gradient(#202020, #3E3D45);

    border-radius: 0px 12px 12px 0px;
}

.Menu nav {
    flex-grow: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;

}

.Menu li {
    display: flex;
}

.Menu li a{
    flex: 1;
    margin: 80px 0px 0px 10px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.Menu li a:hover {
    background-color: #05050450;
}

.Menu .Dashboard {

}

.Menu img {
    width: 25px;
    height: 25px;
}